{% extends 'base.html' %}
{% block content %}



<form style="position:relative; left: 450px; margin-top: 2%;" action="" method="POST" enctype="multipart/form-data" class='card-body w-2/6 shadow-2xl m-10 p-10'>
    <h1 class="text-2xl font-bold mb-10 text-red-500" >🗑️Delete Product</h1>
    {% csrf_token %}
    <div class="mb-6 font-bold">
        <label for="">Product Name : {{p.name}}</label>
    </div>
    <div class="mb-6 font-bold">
        <label for="">Product Price : {{p.price}}</label>
    </div>
    <div class="mb-6 font-bold">
        <label for="">Product Description : {{p.description}}</label>
    </div>
    {% if p.image %}
        <div class="mb-6 font-bold">
            <label for="">Product Image</label>
            <img class="w-36 mb-2 rounded-lg" src="{{p.image.url}}" alt="image not found">
        </div>
    {% else %}
        <div class="mb-6 font-bold">
            <label for="">Product Image</label>
            <img class="w-36 mb-2 rounded-lg" src="" alt="Currently no image added">
        </div>
    {% endif %}
    <div >
        <input style="position:relative; left: 125px; margin-top: 3%;" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900 w-2/5" type="submit" accept="image/*" name="Delete Product" value="Delete Product">
    </div>
</form>






{% endblock %}
