{% extends 'base.html' %}
{% block content %}


{% comment %} <div class="flex flex-row justify-center"> {% endcomment %}
  <div class="grid grid-flow-row-dense grid-cols-2 gap-12 p-10">

    {% for p in products %}
    <div class="card w-96 glass m-10 shadow-2xl">
      {% if p.image %}
        <figure><img class="object-cover h-60 w-90" src="{{p.image.url}}" alt="not found!"/></figure>
      {% else %}
        <figure><img class="object-cover h-60 w-90" src="" alt="not found!"/></figure>
      {% endif %}
      <div class="card-body">
        <h2 class="card-title uppercase">{{p.name}}</h2>
        <p>{{p.description}}</p>
        <div class="card-actions justify-end">
          <a href="{% url 'myapp:product_details' p.id %}">
          <button class="btn btn-primary bg-blue-800">₹{{p.price}}</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
   

{% endblock %}

